body {
  margin: 0;
  padding: 0;
  background-color: #d6dce6;
}

.container {
  margin-top: 100px;
  margin-left: 100px;
  height: 46px;
  width: 92px;
  border-radius: 45px;
  position: relative;
  background: linear-gradient(to bottom, #9d8e67, #58472d);
}
.container:after {
  position: absolute;
  content: "";
  height: 42px;
  width: 88px;
  top: 2px;
  left: 2px;
  border-radius: 45px;
  background: linear-gradient(to top, #9d8e67, #58472d);
}
input[type="checkbox"]:checked {
  transform: translateX(46px);
  background: linear-gradient(to top, #1d262b, #2b3946);
}
input[type="checkbox"]:checked:after {
  background: linear-gradient(to bottom, #1d262b, #2b3946);
}
input[type="checkbox"]:checked + .font-black {
  width: 70%;
}
input[type="checkbox"]:checked + .font-black:after {
  width: 100%;
}

input[type="checkbox"]:checked + .font-black .circle {
  transform: translateX(46px);
}

.font-black {
  position: absolute;
  height: 38px;
  width: 22%;
  background: linear-gradient(to top, #1d262b, #2b3946);
  z-index: 2;
  top: 4px;
  left: 4px;
  border-radius: 38px 0 0 38px;
  transition: width 0.5s;
}
.font-black:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 96%;

  background: linear-gradient(to bottom, #1d262b, #2b3946);
  top: 2px;
  left: 3px;
  border-radius: 34px 0 0 34px;
  transition: width 0.5s;
}
.font-bleu {
  position: absolute;
  height: 38px;
  width: 63px;
  background: linear-gradient(to top, #0b3450, #40acdd);
  z-index: 1;
  top: 4px;
  left: 25px;
  border-radius: 0 38px 38px 0;
}
.font-bleu:after {
  position: absolute;
  content: "";
  height: 34px;
  width: 61px;
  background: linear-gradient(to bottom, #0b3450, #40acdd);
  z-index: 3;
  top: 2px;
  right: 1;
  border-radius: 0 34px 34px 0;
}

.circle {
  position: absolute;
  height: 38px;
  width: 38px;
  background: linear-gradient(to bottom, #9d8e67, #58472d);
  z-index: 3;
  top: 0px;
  left: 0px;
  border-radius: 38px;
  transition: 0.5s;
}
.circle:after {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  background: linear-gradient(to top, #9d8e67, #58472d);
  z-index: 10;
  top: 2px;
  left: 2px;
  border-radius: 34px;
  transition: 0.5s;
}

input[type="checkbox"]:after {
  appearance: none;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background: linear-gradient(to bottom, #0b3450, #40acdd);
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

input[type="checkbox"] {
  appearance: none;
  position: absolute;
  height: 30px;
  width: 30px;
  background: linear-gradient(to top, #0b3450, #40acdd);
  z-index: 7;
  margin: auto;
  top: 8px;
  left: 8px;
  border-radius: 34px;
  transition: 0.5s;
  cursor: pointer;
}
